@import 'tailwindcss';

/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Variaveis Globais - Cores*/
@theme {
  --color-fiap-cor: #ed145b;
  --color-fundo-dark: #000000;
  --color-surface-dark: #161616;
  --color-texto-primario: #7d7d7d;
  --color-texto-secondario: #91a3ad;
  --color-texto-corpo: #535c61;
  --color-borda-color: #1c1d1e;

  /* fontes */
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  html {
    @apply text-texto-corpo;
  }

  body {
    @apply bg-surface-dark;
  }
  
  h2 {
    @apply font-roboto text-xl text-texto-primario font-medium uppercase;
  }
}

@layer components {
  .main {
    @apply flex flex-col items-center justify-center h-135 mx-20 my-auto py-4;

    & > * {
      @apply min-w-[300px];
    }
  }

  .card-titulo {
    @apply my-4 font-kumbh-sans;
    & h1 {
      @apply text-4xl text-fiap-cor mb-2 uppercase;
    }
    & p {
      @apply text-2xl text-texto-secondario uppercase;
    }
  }

  .card-descritivo {
    @apply bg-borda-color p-4 min-w-100;
    & ul,
    li {
      @apply w-full;
    }

    & li {
      @apply flex justify-between;

      & p {
        @apply text-right;
      }
    }

    & h2 {
      @apply my-4
    }

    & button {
      @apply text-[0.75rem] font-kumbh-sans font-semibold uppercase
    }
  }

  .botao {
    @apply min-w-40 p-2.5 bg-fiap-cor text-center text-white text-sm font-kumbh-sans font-semibold uppercase hover:bg-white hover:text-fiap-cor transition duration-300;
  }

  .formulario {
    @apply flex flex-col items-center;

    & form {
      @apply flex flex-col items-center bg-borda-color p-4 w-86 min-w-[300px] mb-8;
    }

    & fieldset {
      @apply flex flex-col gap-8 w-full;
    }

    & .field-container {
      @apply flex gap-2;
    }

    & .form-field {
      @apply flex flex-col mb-2 text-white;
    }

    & label{
      @apply uppercase mb-4 text-sm font-kumbh-sans font-extralight;
    }

    & input{
      @apply text-sm w-full bg-white/20 p-4 text-center focus:outline-none;
    }

    & .botao {
      @apply w-full p-4;
    }
  }
}

@layer utilities {
  .hover-brightness {
    @apply hover:brightness-60 transition duration-300 cursor-pointer
  }
}